/*==========================================================================
Contact
========================================================================== */
.contact__area {
    &-map {
        padding-top: 120px;

        &-area {
            position: relative;

            iframe {
                width: 100%;
                height: 600px;
                display: block;
                filter: grayscale(1);
            }

            &-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }
        }
    }

    &-left {
        margin-right: 30px;

        &-list {
            margin-right: 10px;

            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid $border1;

                &-icon {
                    i {
                        font-size: 26px;
                        color: $primary-color;
                    }
                }

                &-content {
                    p a {
                        transition: all 0.4s ease-out 0s;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                &:last-child {
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }
        }

        &-hours {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 40px;

            h4 {
                color: $white;
                margin-bottom: 20px;
            }

            h6 {
                color: $white;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $heading-color;

                span {
                    float: right;
                    color: $border8;
                    font-weight: 400;
                }

                &:last-child {
                    margin: 0;
                    padding: 0;
                    border: 0;

                    span {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    &-right {
        background: $thin-bg;
        padding: 40px;

        &-form {
            &-item {
                position: relative;

                i {
                    position: absolute;
                    right: 20px;
                    top: 23px;
                    color: $heading-color;
                }

                input {
                    font-size: 14px;
                }

                textarea {
                    height: 220px;
                    font-size: 14px;
                }

                .theme-btn3 {
                    background: $primary-color;
                    width: 100%;
                    justify-content: center;
                    font-size: 14px;

                    i {
                        position: initial;
                        color: $white;
                    }
                }

                .nice-select {
                    width: 100%;
                    border: 1px solid $border1;
                    border-radius: 0;
                    height: 60px;
                    line-height: 60px;
                    transition: all 0.3s ease-out 0s;
                    padding: 0 20px;

                    &:focus {
                        border-color: $primary-color;
                    }

                    & .list {
                        width: 100%;
                        border-radius: 0;
                        transition: all 0.3s ease-out 0s;
                    }

                    &::after {
                        border-right: 1px solid $heading-color;
                        border-bottom: 1px solid $heading-color;
                        right: 22px;
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .contact__area {
        &-left {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .contact__area {
        &-left {
            &-list {
                margin-right: 0;
            }

            &-hours {
                padding: 40px 30px;
            }
        }

        &-right {
            padding: 40px 30px;
        }
    }
}