/*==========================================================================
Features Css
========================================================================== */
.features__area {
    &-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
        padding: 70px 60px;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: $heading-color;
            z-index: -1;
            opacity: 70%;
            transition: all .3s ease-out 0s;
        }

        h3 {
            color: $white;
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 15px;
        }

        p {
            color: $white;
            opacity: 70%;
            margin-bottom: 30px;
            max-width: 420px;
        }

        .simple-btn {
            transition: all .3s ease-out 0s;
        }

        &-hover {
            &::after {
                background: $primary-color-1;
                opacity: 80%;
            }

            .simple-btn {
                color: $white;
            }
        }
    }
}

/*==========================================================================
Deposit Css
========================================================================== */
.deposit__area {
    &-left {
        &-title {
            h2 {
                margin-bottom: 50px;
            }
        }

        &-form {
            &-item {
                position: relative;

                input {
                    font-size: 14px;
                    padding-left: 20px;
                }

                label {
                    font-size: 14px;
                    font-weight: 700;
                    color: $heading-color;
                    position: absolute;
                    left: 20px;
                    top: -14px;
                    background: $white;
                    z-index: 1;
                    padding: 0 8px;

                    span {
                        color: $primary-color-1;
                    }
                }

                .nice-select {
                    width: 100%;
                    height: 60px;
                    border: 1px solid $border1;
                    border-radius: 0;
                    line-height: 60px;
                    transition: all 0.3s ease-out 0s;
                    padding: 0 20px;

                    &:focus {
                        border-color: $primary-color-1;
                    }

                    & .list {
                        width: 100%;
                        border-radius: 0;
                        transition: all 0.3s ease-out 0s;
                    }

                    &::after {
                        border-right: 1px solid $primary-color-1;
                        border-bottom: 1px solid $primary-color-1;
                        right: 22px;
                        width: 6px;
                        height: 6px;
                    }
                }
            }
        }
    }

    &-right {
        text-align: right;
    }
}

@media (max-width: 1399px) {
    .features__area {
        &-item {
            padding: 70px 50px;
        }
    }

    .deposit__area {
        &-right {
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1299px) {
    .features__area {
        &-item {
            padding: 50px 30px;

            h3 {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
}