/*==========================================================================
Testimonial
========================================================================== */
.testimonial__area {
    background: $heading-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-title {
        text-align: center;

        h2 {
            color: $white;
        }

        .subtitle {
            &-one {
                color: $secondary-color;
            }

            &-two {
                color: $white;
                z-index: 1;
            }
        }
    }

    &-item {
        &-review {
            margin-bottom: 30px;
            padding-bottom: 30px;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $border7;
                transition: all 0.3s ease-out 0s;
            }

            &::after {
                position: absolute;
                content: '';
                left: 70px;
                bottom: -20px;
                border-top: 20px solid $border7;
                border-right: 30px solid transparent;
                transition: all 0.3s ease-out 0s;
                display: block;
            }

            i {
                color: $secondary-color;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                padding-top: 20px;
                color: $white;
                max-width: 600px;
            }
        }

        &-client {
            display: flex;
            align-items: center;

            &-avatar {
                margin-right: 20px;

                img {
                    max-width: 60px;
                    border-radius: 50%;
                }
            }

            &-title {
                span {
                    color: $secondary-color;
                    font-size: 14px;
                    line-height: 24px;
                }

                h3 {
                    color: $white;
                }
            }
        }

        &:hover {
            .testimonial__area-item-review {
                &::before {
                    background: $primary-color;
                }

                &::after {
                    border-top: 20px solid $primary-color;
                }
            }
        }
    }
}