/*==========================================================================
Font
========================================================================== */
$theme-font: 'DM Sans', sans-serif;
/*==========================================================================
Color
========================================================================== */
$body-color: #777777;
$white: #fff;
$primary-color: #e34115;
$primary-color-1: #ec1113;
$primary-color-2: #0054ff;
$secondary-color: #f6b720;
$heading-color: #343a40;
$border1: #ededed;
$border2: #d3d3d3;
$border3: #e75f3a;
$border4: #161b1f;
$border5: #999999;
$border6: #e6542d;
$border7: #434950;
$border8: #a4acb5;
$border9: #7f8489;
$border10: #21262a;
$border11: #1f69ff;
$border12: #272d32;
$thin-bg: #f7f7f7;
$thin-bg-2: #f6f4f0;
$shadow:rgba(0, 0, 0, 0.08);